
<h4>Question</h4>
<br>
<%= @card.question %> <br>
<h4>Answer</h4> <br>
<%= @card.answer %> <br>
<%= link_to "Edit", edit_memory_card_path(@card)%>
<%#TODO Create a nested route when accessing cards through decks. Show the Practice date, and the current interval %>

<%#TODO If you don't like the idea of a nested routes you can use an AR query to get the DeckCardRecord %>