<div id="sheet" class="clearfix">
  <div class="left">
    <div class="header">
    <h1>Card</h1>
      <div class='links'>
        <ul>
            <% if @deck %>
            <h3><li> <%= link_to "Back to deck: #{@deck.title} ",  memory_deck_path(@deck)%></li></h3>
            <% end %>
          <h3><li> <%= link_to "Edit", edit_memory_card_path(@card)%>
          </li></h3>
        </ul>  
      </div>
    </div>
    <div class='content'>
      
      <h3>Question</h3>
      <p><%= @card.question %></p>
      <h3>Answer</h3> 
      <p><%= @card.answer %></p>
      <%#TODO when accesed through nested routes show the Practice date, and the current interval %>

     
    </div>  
  </div>  
</div>  