
<h2><%= @deck.title %></h2>
<h4>Cards</h4>




<br>


<%= link_to "Edit title of card", edit_memory_deck_path(@deck) %>
<br>
<%= link_to "Create a Card", new_memory_deck_memory_card_path(@deck) %>



