
<h2><%= @deck.title %></h2>
<h4>Cards</h4>

<ul>
<% @deck.memory_cards.each do |card| %>
<li><%= link_to card.question, memory_card_path(card)	 %></li>

<% end %>
</ul>


<br>


<%= link_to "Edit title of card", edit_memory_deck_path(@deck) %>
<br>
<%= link_to "Create a Card", new_memory_deck_memory_card_path(@deck) %>



